<body>
    <br>
    <br>
    <br>
    <br>
    <h3>Add Course</h3>

    <div class="container">
        <div class="row">
            <form (ngSubmit)="saveCourse()">
                <div class="form-group">
                    <textarea type="text" name="title" [(ngModel)]="course.title" placeholder="Enter title"
                        class="form-control col-md-12"></textarea>
                </div>
                <br />

                <button type="submit" class="btn btn-primary">Add Course</button>
            </form>
        </div>
    </div>
</body>