<br>
<br>
<a routerLink="/addcourse">Add course</a>
<router-outlet></router-outlet>

<br>
<br>

<ul class="list-group">
    <li class="list-group-item active">Courses</li>
    <li *ngFor="let course of courses" class="list-group-item" 
        (click)="selectCourse(course)" 
        [ngClass]="{'active': course.id == selectedCourse.id}">
        {{course.title}}
        
    </li>
    
    <li *ngFor="let module of selectedCourse.modules" class="list-group-item" 
    (click)="selectModule(module)" 
    [ngClass]="{'active': module.id == selectedModule.id}">
    {{module.title}}
    </li> 
    
    <li *ngFor="let lesson of selectedModule.lessons" class="list-group-item" 
    (click)="selectLesson(lesson)" 
    [ngClass]="{'active': lesson.id == selectedLesson.id}">
    {{lesson.title}}
    </li> 
    
</ul>

