<body>
    <br>
    <br>
    <br>
    <br>
    <h3>List of Courses</h3>
    <ul class="list-group">
        <li class="list-group-item active">Courses</li>
        <li *ngFor="let course of courses" class="list-group-item" (click)="selectCourse(course)"
            [ngClass]="{'active': course.id == selectedCourse.id}">
            {{course.title}}


        </li>
        <br>
        <br>
        <li class="list-group-item active">Modules</li>
        <li *ngFor="let module of selectedCourse.modules" class="list-group-item" (click)="selectModule(module)"
            [ngClass]="{'active': module.id == selectedModule.id}">
            {{module.title}}
        </li>
        <br>
        <br>
        <li class="list-group-item active">Lessons</li>
        <li *ngFor="let lesson of selectedModule.lessons" class="list-group-item" (click)="selectLesson(lesson)"
            [ngClass]="{'active': lesson.id == selectedLesson.id}">
            {{lesson.title}}
        </li>

    </ul>

    <br>
    <br>
    <button class="btn btn-primary" routerLink="/addcourse">Add Course</button>
    <router-outlet></router-outlet>

    <br>
    <br>
    <button class="btn btn-primary" routerLink="/addmodule">Add Module</button>
    <router-outlet></router-outlet>

    <br>
    <br>
    <button class="btn btn-primary" routerLink="/addlesson">Add Lesson</button>
    <router-outlet></router-outlet>